// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Gelasio&display=swap');
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


//_____________________start my styles_____________________\\

// my variables
$normal-font-size: 1.8rem;
$header-font-size: 2.2rem;
$white-transparent-bg: rgba(255, 255, 255, .9);

* {
    box-sizing: border-box;
    font-family: 'Gelasio', serif !important;
}

html,
body {
    font-size: 62.5%;
    scroll-behavior: smooth;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-weight: 700;
}

//_____________________NAVIGATION_____________________\\
.navbar {


    .navbar-nav {

        a {
            text-transform: uppercase;
            font-size: 1.8rem;
        }
    }
}

//_____________________ABOUT PAGE_____________________\\
.about-section {
    margin: 50px auto;
    padding: 20px;

    .img-container {
        max-width: 600px;
    }

    .about-image {
        width: 100%;
        height: auto;
        padding: 10px;
        background-attachment: fixed;
    }

    .person-name {
        display: block;
        text-indent: .8rem;
        font-size: 1.5rem;
    }

    article {
        padding: 10px;
        max-width: 80%;
        margin: 0 auto;
        font-size: $normal-font-size;
    }

    h2 {
        font-size: $header-font-size;
    }

    @media all and (min-width: 576px) and (max-width: 767px) {

        .about-section article {
            margin: 2rem auto;
        }
    }
}

//_____________________Services PAGE_____________________\\
#leistungen {
    background-color: $white-transparent-bg;
    font-size: 1.8rem;
    padding: 2rem;

        h1 {
            font-size: 2.6rem;
            margin: 2rem;
        }

        h2,
        h3 {
            font-size: $header-font-size;
            padding: 2rem 2rem 2rem 0;

        }

        section {
            padding: 2rem;
            margin-top: 0;
        }

        a {
            font-size: $normal-font-size;
        }

        p,
        aside {
            padding: 2rem 1rem;
        }

        ul {
            padding-inline-start: 6rem;
        }

}

//_____________________Contact PAGE_____________________\\
#contact-form {

    .card {
        margin-top: 13rem;
        background-color: $white-transparent-bg;
    }

    input,
    select {
        background-color: rgba(255, 255, 255, .9);
    }

    .card-header,
    label,
    input,
    button {
        font-size: $normal-font-size;
    }

    br {
        display: none;
    }

    #thema {
        font-size: 1.8rem;
        margin-top: 1rem;
    }

    button {
        text-transform: lowercase;
        line-height: 2.5rem;
    }
}

//_____________________Impressum PAGE_____________________\\

#impressum-page {

    font-size: $normal-font-size;

    .impressum-card {
        background-color: $white-transparent-bg;
        padding: 2rem;
    }

    h1 {
        font-size: 2.6rem;
        margin: 4rem 2rem;
        padding: 1rem 0;
    }

    ul {
        list-style-type: none;
        padding-inline-start: 0;
        padding: 2rem;
    }

    p {
        margin: 2rem;
    }

}

//_____________________contactResponse PAGE_____________________\\

#contact-response {

    .card {
        transform: translate(0%, 100%);
    }
    .card-header {
        font-size: $header-font-size;
        background-color: #2fa360;

        h2 {
            margin: 0;
        }
    }

    .card-body {
        font-size: 1.8rem;

        p:nth-child(2) {
            text-align: right;
        }
    }
}

//_____________________single backend PAGE_____________________\\

#single-page {

    h1 {
        text-align: center;
        font-size: $header-font-size;
        margin: 1rem auto;
        padding: 1rem;
    }

    .card {
        margin-top: 2rem;
        position: relative;

        .card-img-top {
            height: 400px;
        }

        .card-title {
            font-size: $normal-font-size;
        }
        .card-text {
            height: 40px;
            font-size: $normal-font-size;
        }

        a {
            display: block;
            text-transform: uppercase;
            max-width: 30%;
            line-height: 3rem;
        }
    }
}

//_____________________clients admin PAGE_____________________\\

#clients-page,
#requests-page,
#newClient {

    font-size: $normal-font-size;

    h1 {
        font-size: $header-font-size;
        text-align: center;
        margin: 1rem auto;
    }

    input#search,
    a.btn {
        font-size: $normal-font-size;
    }

    .table {
        background-color: $white-transparent-bg;
        text-align: center;
    }

    .search-btn-container {
        justify-content: flex-end;
    }

    .pagination-container {

        text-align: center;
        width: 100%;

        nav {
            display: inline-block;
        }
    }
}

#change-client-page,
#newClient,
#login-form,
#docs {

    font-size: $normal-font-size;

    h3 {
        text-align: center;
        font-size: 2rem;
        padding: 1rem;
    }
    input,
    label,
    .btn {
        font-size: $normal-font-size;
    }
    .mybg {
        margin-top: 3rem;
    }
    .table {
        text-align: center;
    }
}



