// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Gelasio&display=swap');
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// start my styles

* {
    box-sizing: border-box;
    font-family: 'Gelasio', serif!important;
}

h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
    font-weight: 700;
}

.navbar-nav a {
    text-transform: uppercase;
}

// ABOUT PAGE
.about-section {
    margin: 50px auto;
    padding: 20px;

    .img-container {
        max-width: 600px;
    }
    .about-image {
        width: 100%;
        padding: 10px;
        background-attachment: scroll;
    }

    article {
        padding: 20px;
        max-width: 80%;
        margin: 0 auto;
    }

}
